Flask==2.1.2       # Keep Flask version as is
selenium==4.34.2
beautifulsoup4==4.13.4
requests==2.32.4
flask-cors==3.0.10  # Upgrade flask-cors to a version compatible with Python 3.10+
Werkzeug==2.1.2
